@import "./variables.scss";

header {
  display: flex;
  flex-direction: column;
  background-color: $background;
  height: 3em;
  padding-top: 3em;
  gap: 2em;
  padding-left: $page-side-padding;
  @media (min-width: 640px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20%;
  }
}
.logo {
  color: $link;
  font-weight: 700;
  font-size: 25px;
  @media (min-width: 480px) {
    font-size: 40px;
  }
}
.menu {
  display: flex;
  gap: 10px;
  @media (min-width: 767px) {
    gap: 45px;
  }
  a {
    text-decoration: none;
    color: $text;
    font-size: 18px;
    font-weight: 400;
    &:first-child {
      color: $link;
    }
  }
}
